:root {
  --spaceColorDark: #01012c;
  --spaceColor: #060682;
  
  /* Light */
  --primary_Light: #ddddff;
  --secondary_Light: #000033;
  
  --primaryTop_Light: color-mix(in srgb, var(--primary_Light) 90%, var(--secondary_Light));
  --primaryTransparent_Light: color-mix(in srgb, var(--primary_Light) 30%, transparent);
  --secondaryTransparent_Light: color-mix(in srgb, var(--secondary_Light) 15%, transparent);
  
  --contrast_Light: #e61e82;
  --contrastLow_Light: color-mix(in hsl, var(--secondary_Light) 10%, var(--contrast_Light));
  --contrastTransparent_Light: color-mix(in srgb, var(--contrast_Light) 30%, transparent);
  
  /* Dark */
  /* needs more contrast */
  
  --primary_Dark: #000011;
  --secondary_Dark: #eeeeff;
  
  --primaryTop_Dark: color-mix(in srgb, var(--primary_Dark) 80%, var(--secondary_Dark));
  --primaryTransparent_Dark: color-mix(in srgb, var(--primary_Dark) 15%, transparent);
  --secondaryTransparent_Dark: color-mix(in srgb, var(--secondary_Dark) 20%, transparent);
  
  --contrast_Dark: #fc53a8;
  --contrastLow_Dark: color-mix(in hsl, var(--secondary_Dark) 15%, var(--contrast_Dark));
  --contrastTransparent_Dark: color-mix(in srgb, var(--contrast_Dark) 30%, transparent);
  
  
  --primary: var(--primary_Dark);
  --primaryTop: var(--primaryTop_Dark);
  --secondary: var(--secondary_Dark);
  --primaryTransparent: var(--primaryTransparent_Dark);
  --secondaryTransparent: var(--secondaryTransparent_Dark);
  --contrast: var(--contrast_Dark);
  --contrastLow: var(--contrastLow_Dark);
  --contrastTransparent: var(--contrastTransparent_Dark);
  
  /*--primary: var(--primary_Light);
  --primaryTop: var(--primaryTop_Light);
  --secondary: var(--secondary_Light);
  --primaryTransparent: var(--primaryTransparent_Light);
  --secondaryTransparent: var(--secondaryTransparent_Light);
  --contrast: var(--contrast_Light);
  --contrastLow: var(--contrastLow_Light);
  --contrastTransparent: var(--contrastTransparent_Light);*/
}

* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  min-height: 100vh;
  
  font-family: sans-serif;
  color: var(--secondary);
  background-color: var(--primary);
  
  overflow-x: hidden;
  overflow-y: auto;
}

#main {
  min-height: 100vh;
  background-color: var(--primary);
}

/* HEADER */
header {
  --offset: 1vw;
  --height: 60px;
  --padding: 8px;
  
  position: sticky;
  
  z-index: 10;
  top: var(--offset);
  left: var(--offset);
  
  display: flex;
  align-items: center;
  
  width: calc( 100% - (var(--offset) + var(--padding)) );
  height: var(--height);
  
  padding: var(--padding) calc(var(--padding) * 2);
  margin-bottom: calc(var(--padding) + var(--offset));
  border-radius: calc(var(--offset)/2);
  background-color: var(--secondaryTransparent);
  
  /* ressource intensive */
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 2px -2px var(--secondary);
}
.headerField:first-of-type {
  margin-left: auto;
}
@keyframes headerSepAnim {
  from {
    height: 50%;
    top: 25%;
  } to {
    height: 80%;
    top: 10%;
  }
}
.headerField {
  margin-inline: 1vw;
  user-select: none;
  
  padding: 10px;
  border-radius: 20px;
  
  transition: all 0.5s;
}
.headerField:hover {
  background-color: var(--secondaryTransparent);
  box-shadow: 0 1px 3px -3px var(--primary);
  border-radius: 5px;
  
  cursor: pointer;
}
.headerField:active {
  border-radius: 10px;
  transition: all 0.3s;
}
.headerField + .headerField {
  position: relative;
}
.headerField + .headerField::before {
  content: "";
  
  position: absolute;
  top: 10%;
  left: -1vw;
  
  width: 2px;
  height: 80%;
  
  background-color: var(--secondary);
  opacity: 0.2;
  
  animation: headerSepAnim 0.5s;
}
#logo {
  height: 100%;
  
  transition: 0.3s;
}
#logo:hover {
  rotate: -5deg;
  scale: 1.1;
  
  filter: drop-shadow(0 2px 2px var(--primaryTransparent));
  
  cursor: pointer;
}
#logo:active {
  rotate: -5deg;
  scale: 0.98;
}
footer {
  display: flex;
  align-items: center;
  
  height: 20vh;
  padding: 5vw;
  padding-top: 6vw;
  margin-top: 50px;
  
  background-color: var(--primary);
  border-top: solid 2px var(--primaryTop);
  border-radius: 10% 10% 0 0;
  box-shadow: 0 -2px 6px var(--secondaryTransparent);
  
  color: color-mix(in srgb, var(--primary), var(--secondary) 60%);
}
#goUp {
  padding: 12px 20px;
  border-radius: 10px;
  margin-left: auto;
  
  border: none;
  background-color: var(--primaryTop);
  color: var(--contrastLow);
  outline: solid 1.5px var(--contrastLow);
  box-shadow: 0 4px 8px -2px var(--contrastLow);
  
  cursor: pointer;
  transition: all 0.2s;
}
#goUp:hover {
  transform: translateY(2px) scale(0.98);
  box-shadow: 0 2px 6px var(--contrastLow);
  color: var(--contrast);
  outline-color: var(--contrast);
}
#goUp:active {
  transform: translateY(4px) scale(0.96);
  box-shadow: 0 2px 5px var(--contrast);
}

.section b {
  color: var(--secondary);
  transition: color 2s, text-shadow 0.5s;
}
.sectionSeen b {
  color: var(--contrastLow);
}
b {
  color: var(--contrastLow);
}
b:hover {
  color: var(--contrast);
  text-shadow: 0 2px 3px var(--primary);
  transition: color 0.5s, text-shadow 0.5s;
}
p {
  white-space: pre-line;
  text-align: justify;
}
ul {
  gap: 5px;
}
ul {
  border-left: solid 2px var(--secondaryTransparent);
  border-radius: 2px;
  transition: border-left-color 1s;
}
ul:hover {
  border-left-color: var(--contrastLow);
}
li {
  margin-block: 0.5em;
}
li::marker {
  color: var(--secondaryTransparent);
  transition: color 0.5s;
}
li:hover::marker {
  color: var(--contrastLow);
}
a {
  position: relative;
  
  color: transparent;
  background: linear-gradient(135deg, var(--contrastLow), var(--contrast));
  background-clip: text;
}
a::before {
  content: "";
  
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 1.5px;
  
  background: linear-gradient(to right, var(--contrastLow), var(--contrast));
  border-radius: 1px;
  
  transition: all 0.5s;
}
a:hover::before {
  left: 0%;
  width: 100%;
}
a:active::before {
  left: 15%;
  width: 70%;
}
math {
  background-color: var(--primaryTransparent);
  padding: 0.35em;
  margin: 0.1em;
  border-radius: 0.2em;
}


/* HERO */
.hero {
  position: relative;

  --background: var(--primary);
  display: flex;
  align-items: center;
  
  padding: 4vw 6vw;
  height: 80vh;
  background: var(--background);
}
@keyframes heroTextAnim {
  from {
    transform-origin: left;
    opacity: 0;
    transform: translateX(-50px) scale(1.2);
  } to {
    opacity: 1;
    transform: none;
  }
}
.heroText {
  position: relative;
  width: max-content;
  height: max-content;
  
  z-index: 1;
  cursor: default;
  
  text-shadow: -2px 2px 2px var(--primaryTransparent);
  
  animation: heroTextAnim 1.5s;
  transition: text-shadow 0.4s ease;
}
.heroText:hover {
  text-shadow: -4px 4px 0px var(--primaryTransparent);
}
.heroText :last-child {
  margin-bottom: 0;
}
.heroText > h1 {
  font-size: 3rem;
}
.heroText > h2 {
  font-size: 1.8rem;
}
.heroText::before {
  content: "";
  position: absolute;
  
  bottom: -15px;
  left: -21px;
  width: 30px;
  height: 30px;
  
  border-bottom: solid 2px var(--secondary);
  border-left: solid 2px var(--secondary);
  border-bottom-left-radius: 6px;
}
#heroCanvas {
  position: absolute;
  inset: 0;
  height: 100% !important;
  width: 100% !important;
}

/* INDEX */
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  box-sizing: content-box;
  margin-block: 20px;
  padding: 40px;
  min-height: 80vh;
  
  background-color: var(--primaryTop);
}
.sectionTop {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectionTitle {
  width: max-content;
  padding: 20px;
  box-shadow: 0px 2px 6px -2px var(--primaryTransparent);
  
  background-color: transparent;
  border-radius: 40px;
  opacity: 0;
  transform: translateX(-20px) scale(1.2);
  transition: all 1s;
}
.sectionSeen .sectionTitle {
  background-color: var(--primaryTransparent);
  opacity: 1;
  border-radius: 5px;
  transform: none;
}
.sectionSee {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  
  padding: 5px 10px;
  margin-left: auto;
  text-align: right;
  
  border-radius: 10px;
  border: 1.5px solid var(--contrastLow);
  
  outline: solid 0px transparent;
  
  background: linear-gradient(135deg, var(--contrastLow), var(--contrast)) text;
  color: transparent;
  
  font-size: 1.2rem;
  cursor: pointer;
  
  transition: all 0.3s 0.1s;
}
.sectionSee:hover {
  width: calc(2.5rem + 5ch);
  border: 2px solid var(--contrastLow);
  outline: solid 2px var(--contrastTransparent);
  box-shadow: 0 4px 8px var(--primaryTransparent);
  
  transition: all 0.3s;
}
.sectionSee:active {
  outline: solid 4px var(--contrastTransparent);
  transition: outline 0.1s;
}
.sectionSee::before {
  content: "voir ";
  
  position: absolute;
  right: 2.5rem;
  
  background: linear-gradient(135deg, var(--contrastLow), var(--contrast)) text;
  color: transparent;
  
  opacity: 0;
  translate: 10px;
  scale: 0.8;
  transition: all 0.3s;
}
.sectionSee:hover::before {
  opacity: 1;
  translate: 0;
  scale: 1;
  transition: all 0.3s 0.1s;
}
.section p {
  font-size: 1.2em;
  line-height: 1.5em;
}
.section li {
  font-size: 1.1em;
  line-height: 1.5em;
}
.section ul {
  margin-bottom: 1em;
}



/* CONTACT */

#contactList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-block: 20px;
}
.contact {
  display: flex;
  width: max-content;
  
  margin-inline: auto;
  padding: 20px;
  border: none;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
  border-radius: 10px;
  background-color: var(--secondaryTransparent);
  
  box-shadow: 0 2px 2px var(--primaryTransparent);
  cursor: pointer;
  
  transition: all 0.32s;
}
.contactImg {
  width: 10vw;
  margin: 10px;
  
  filter: drop-shadow(0 2px 1px var(--primaryTransparent));
  transition: all 0.3s;
}
.contactName {
  margin-top: auto;
  font-size: 1.1rem;
  color: var(--secondary);
  font-weight: bold;
  
  background: linear-gradient(135deg, var(--contrastLow), var(--contrast)) text;
  
  transition: all 0.25s;
}
.contact:hover/*, .contact:focus*/ {
  transform: translateY(-3px);
  box-shadow: 0 5px 5px var(--primaryTransparent);
}
.contact:hover .contactImg/*, .contact:focus .contactImg*/ {
  transform: translateY(-2px) scale(1.05);
  filter: drop-shadow(0 4px 3px var(--primaryTransparent));
}
.contact:hover .contactName/*, .contact:focus .contactName*/ {
  color: transparent;
}
.contact:active {
  transform: translateY(0) scale(0.98);
  box-shadow: 0 5px 5px var(--primaryTransparent);
}
.contact:active .contactImg  {
  transform: translateY(-4px) scale(1.05);
  filter: drop-shadow(0 6px 5px var(--primaryTransparent));
}
.contact:active .contactName {
  color: transparent;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  
  margin: 2vw;
  padding: 30px 20px;
  background-color: var(--primaryTop);
  border-radius: 8px;
}
.projectsCarousel {
  display: grid;
  
  grid-template-columns: auto auto auto auto auto;
  width: max-content;
  gap: 2vw;
}
.projectButton {
  display: flex;
  flex-direction: column;
  
  width: max-content;
  margin-inline: auto;
  align-items: center;
  
  gap: 14px;
  
  padding: 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--secondaryTransparent);
  color: var(--secondary);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 4px var(--primaryTransparent);
  
  transition: all 0.25s;
}
.projectButtonImgContainer {
  position: relative;
  
  width: 10vw;
  height: 10vw;
  border-radius: 5px;
  background-color: var(--secondaryTransparent);
  
  overflow: hidden;
}
.projectButtonImgContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  
  box-shadow: inset 0 1px 1px var(--primaryTransparent);
}
.projectButton img {
  width: 101%;
  height: 101%;
  translate: 0;
  
  transition: all 0.5s ease-out;
}
.projectButton:hover {
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 2px 6px var(--primaryTransparent);
}
.projectButton:hover img {
  width: 110%;
  height: 110%;
  translate: -4.5% -4.5%;
}
.projectButton:active {
  transform: translateY(-2px) scale(0.98);
  box-shadow: 0 2px 6px var(--primaryTransparent);
  
  transition: all 0.15s;
}
.projectButton:active img {
  width: 101%;
  height: 101%;
  translate: 0;
}

#binaryLogicSection {
  background-image: url("circuitBlack.svg");
  background-size: 100%;
}



/* RESPONSIVE */

@media (max-width: 580px) {
  header {
    --offset: 0.8vw;
    --padding: 4px;
  }
  .headerField {
    margin-inline: 0.5vw;
  }
  .headerField + .headerField::before {
    left: -0.5vw;
  }
  .section {
    padding: max(4vw, 10px);
  }
  .projects {
    padding: 3vw;
  }
  .projectsCarousel {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projectButton {
    width: 100%;
  }
  .projectButtonImgContainer {
    width: 20vw;
    height: 20vw;
  }
  #contactList {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .contact {
    width: 100%;
  }
  .contactImg {
    width: 20vw;
    height: 20vw;
  }
}
