<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/png" href="assets/PP_transparent128.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js"></script>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/intro.css">
    
    <title>Armibule - Page</title>
</head>
<body>
    <div id="main">
        <header>
            <img src="assets/PP_transparent128.png" id="logo" onclick=" window.location = '/Armibule/index.html' ">
            <div class="headerField" onclick=" window.location = '/Armibule/projects.html' ">⭐ projets</div>
            <div class="headerField" onclick=" window.location = '/Armibule/skills.html' ">📚 compétences</div>
            <!--div class="headerField" onclick=" window.location = '/Armibule/rewards.html' ">🏆 prix</div-->
            <div class="headerField" onclick=" window.location = '/Armibule/contact.html' ">🚀 contact</div>
        </header>

        <div class="hero" id="">   <!-- REMPLACER L'ID -->
            <div class="heroText">
                <h1 id="welcome">Titre</h2>
                <h2 id="welcomeText">Sous titre</h1>
            </div>
        </div>

        <div class="section">
            <div class="sectionTop"><h1 class="sectionTitle">Titre section</h1></div>
            <p>Description</p>
        </div>

        <footer>
            <span>Site entièrement créé par Armand</span>
            <button id="goUp" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">Monter</button>
        </footer>
    </div>
    
    <script src="js/tools.js"></script>
</body>
</html>